<p id="notice"><%= notice %></p>

<%= render @video %>

<div>
  <%= link_to "Edit this video", edit_video_path(@video) %> |
  <%= link_to "Back to videos", videos_path %>

  <%= button_to "Destroy this video", video_path(@video), method: :delete %>
</div>
